[submodule "foundry-test-project/Foundry fund me/lib/forge-std"]
	path = foundry-test-project/Foundry fund me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry fund me/lib/chainlink-brownie-contracts"]
	path = Foundry fund me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
